<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pictures of dogs</title>
</head>
<body>

<h1>Pictures of dogs:</h1>
<img src="/resources/pics/dog.jpeg" alt="Dog">
<img src="/resources/pics/dog1.jpeg" alt="Dog 1">
<img src="/resources/pics/dog2.jpeg" alt="Dog 2">

</body>
</html>
